
h1 {
	text-align: center;
}

.ui {
	display: flex;
	gap: 20px;
	width: 75%;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

button {
	background: #282A3A;
	color: #FFF;
	border-radius: 5px;
	padding: 10px 20px;
	border: 0;
	cursor: pointer;
	font-size: 18pt;
	width: 25%;
}

.disabled {
	color: #757575;
}

.stats {
	background-color: gray;
	color: #FFF;
	font-size: 14pt;
	width: 75%;
	border: 1px solid #282A3A;
	border-radius: 5px;
	padding-left: 20px;
	display: flex;
}

.info {
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	width: 33%;
}

.game {
	width: 100%;
	border: 1px solid #282A3A;
	border-radius: 5px;
}

.container {
	position: relative;
}

#board {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
	justify-content: center;
}

#win, #lose {
	position:absolute;
    top:50%;
    left:50%;
	width: 320px;
	height: 240px;
    transform:translate(-50%, -50%);

	background: bisque; 
    z-index: 1000;
	border-radius: 10px;
	border: 8px solid #282A3A;

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#win span {
	font-size: 24px;
}

#lose span {
	font-size: 24px;
}

.card {
	position: relative;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-front,
.card-back {
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background: #282A3A;
	transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
	backface-visibility: hidden;
}

.card-back img {
	width: auto;
	height: 100px;
}

.card-back {
	transform: rotateY(180deg) rotateZ(50deg);
	font-size: 28pt;
	user-select: none;
	text-align: center;
	line-height: 100px;
	background: #FDF8E6;
}

.card.flipped .card-front {
	transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
	transform: rotateY(0) rotateZ(0);
}
