#grid {
    width: 340px;
    margin-left:auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#kb {
    display: flex;
    flex-wrap:wrap;
    margin-left :auto;
    margin-right: auto;
    justify-content: center;
}

#kb button {
    border: 1px solid black;
    border-radius: 6px;;
    height: 48px;
    font-size: 32px;
    text-align: center;
    padding: 0 0;
}

#msg {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    text-align: center;
    color: cornflowerblue;
}

#grid div {
    border: 1px solid black;
    height: 64px;
    width: 64px;
    font-size: 48px;
    text-align: center;
    padding: 0 0;
    margin-bottom: 2px;
}

.r1 { flex-basis: calc(100% / 10); }

.ro { flex-basis: calc(100% / 9); }

.wrong {
    background-color: grey;
    color: white;
}

.correct {
    background-color: green;
    color: white;
}

.partial {
    background-color: goldenrod;
    color: white;
}
